<app-menu></app-menu>
<div class="componenet">
  <div class="header">
    <span class="pagetitle">User Detail</span> |
    <span>
      <a routerLink="/users/create">Create</a>
    </span> |
    <span>
      <a routerLink="/users/list"> Return to UserList</a>
    </span>
  </div>
  <table class="table table-sm" *ngIf="user">
    <tr>
      <td>Id: </td>
      <td>{{user.id}}</td>
    </tr>

    <tr>
      <td>Username: </td>
      <td>{{user.username}}</td>
    </tr>

    <tr>
      <td>Name: </td>
      <td>{{user.firstname}} {{user.lastname}}</td>
    </tr>

    <tr>
      <td>Phone: </td>
      <td>{{user.phone}}</td>
    </tr>

    <tr>
      <td>Email: </td>
      <td>{{user.email}}</td>
    </tr>

    <tr>
      <td>isAdmin:</td>
      <td>{{user.isAdmin}}</td>
    </tr>

    <tr>
      <td>isReviewer:</td>
      <td>{{user.isReviewer}}</td>
    </tr>
  </table>

  <button (click)="edit()" class="btn btn-warning btn-sm">Edit</button>

  <button (click)="verify()" class="btn btn-danger btn-sm">Verify </button>

  <span *ngIf="verifyDelete"> |
        <button (click)="delete()" class="btn btn-warning btn-sm">Delete</button> 
  </span>
</div>