<app-menu></app-menu>
<div class="component">
  <div class="header">
    <span class="pagetitle">Create RequestLine</span> |
    <span>
      <a routerLink="/requests/list"> Return to Request Lines</a>
    </span>
  

  <table class="table table-sm">



    <tr>
      <td>RequestId:</td>
      <td>{{line.requestsId}}</td>
    </tr>

    <tr>
      <td>Product</td>
      <td><select [(ngModel)]="line.productsId">
          <option *ngFor="let product of products" [ngValue]="product.id">{{product.name}}</option>
        </select>
      </tr> 


    <tr>
      <td>Quantity</td>
      <td><input [(ngModel)]="line.quantity" type="number"> </td>
    </tr>





    


  </table>
  <button (click)="save2()" class="btn-primary btn-save">Save</button>

</div>