<div *ngIf="request">
  <app-menu></app-menu>
  <div class = "componenet">
  <div class = "header">
<span class= "pagetitle">Request Lines</span>  |
<span *ngIf="request" class = "createlink">
  <a routerLink= "/requestlines/create/{{request.id}}">Create</a>
</span> |
<input [(ngModel)] = "searchCriteria" type="text" placeholder="Search">
<table *ngIf="request" style = "width:100%">

  <tr class ="tableheader">
    <td>Id</td>
    <td><a (click)= "sortBy('description')">Description</a></td>
    <td><a (click)= "sortBy('status')">Status</a></td>
    <td><a (click)= "sortBy('total')">Total</a></td>
    <td><a (click)= "sortBy('user.name')">User</a></td>
    
    

  </tr>
  <tr>
     
     
     
      <td>{{request.id}}</td>
      <td>{{request.description}}</td>
      <td>{{request.status}}</td>
      <td>{{request.total}}</td>
      <td>{{request.user.username}}</td>
      
      <!-- <td>
        <span class="actiondetail">
        <a routerLink="/requestlines/edit/{{request.id}}">Edit</a>
    
    </span> | <span class="actiondetail">
        <a routerLink="/requestlines/remove/{{request.id}}">Delete</a>
      </span>
      
      </td> -->
  
  </tr>
</table>
<br>
<br>

<br>

<table *ngIf="request"  style = width:100%>

  <tr class ="tableheader">
    <td>Id</td>
    <td><a (click)= "sortBy('product')">Product</a></td>
    <td><a (click)= "sortBy('quantity')">Quantity</a></td>
    <!-- <td><a (click)= "sortBy('total')">Price</a></td> -->
    <!-- <td><a (click)= "sortBy(' ')">Subtotal</a></td> -->
    <td>Actions</td>
    
    <!-- <td><select [(ngModel)]="product.vendorsId" >
        <option *ngFor = "let vendor of vendors" [ngValue]="vendor.id">{{vendor.name}}</option>
        
        
        </select> -->

  </tr>
  <tr *ngFor = "let line of request.requestLine |searchLines: searchCriteria | sort:sortCriteria:sortOrder ">
     
     
     <td>{{line.id}}</td>
      <td>{{line.product.name}}</td>
      <td>{{line.quantity}}</td>
         <span class="actiondetail">
        <button (click)="edit(line)" class="btn-primary btn-edit">Edit</button>
      
    
     
    
    </span> | <span class="actiondetail">
        <button (click)="delete(line)" class="btn-primary btn-delete">Delete</button>
      </span>
      
      
  
  </tr>

</table>
</div>
</div>

